.NavBar {
    display: flex;
    align-items: center;
    justify-content: space-between;        
    padding: 10px 20px;           
    position: relative;             
    z-index: 1000;                  
}

.NavBar h3 {
    color: white;                  
    margin: 0;                    
}

.Categories {
    display: flex;                
    gap: 15px;                    
}

.Option {
    color: white;                 
    text-decoration: none;        
    padding: 10px 15px;          
    transition: background-color 0.3s; 
}

.ActiveOption {
    color: yellow;                
}

.Option:hover {
    background-color: #575757;    
    border-radius: 5px;           
}
